* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #ededed;
}

/*INICIO HEADER*/

.navbar {
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
}

.nav {
    width: 500px;
    /*border:1px solid red;*/
    margin-right: 20px;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}

/*FIM HEADER*/

/*INICIO SECTION*/

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

    .title_products {
        font-family: Bahnschrift;
        font-size: 2.5rem;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top:50px;
    }

.card_item {
    width: 300px;
    height: auto;
    border: 1px solid #d5d5d5;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 5px 15px rgba(36, 36, 36, 0.5);
}

    .card_item .image_item {
        max-width: 350px;
        height: auto;
        margin-top: 10px;
        padding:5px;
        display:flex;
        justify-content:center;
        background-size: cover;
        /*border:1px solid red;*/
    }

    .card_item .price_item h2 {
        text-align: center;
        margin-top: 20px;
        font-size:2rem;
        font-family: Bahnschrift;
        color: #ff0000;
    }

    .card_item .buy_item {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .card_item .btn_buy_item, .btn_remove_item {
        padding: 10px 15px;
        font-weight: 600;
        cursor: pointer;
        margin: 20px 5px;
    }

.btn_buy_item {
    border: 1px solid #d5d5d5;
    background-color: #f2c80f;
    font-family: Bahnschrift;
}

.btn_remove_item {
    background-color: transparent;
    color: #f54c4c;
    font-family:Bahnschrift;
    font-weight: 500;
    border: 2px solid #f56464;
}

    .btn_remove_item:hover {
        background-color: #f56464;
        color: #fff;
        font-weight: 500;
        transition: ease-in .1s;
    }

    .card_item .btn_buy_item:hover {
        background-color: #d9b30b;
        transition: ease-in .1s;
    }

.card_item .descricao_item h2 {
    text-align: center;
    margin-top: 15px;
    text-transform: capitalize;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: Bahnschrift;
}

/*FIM SECTION*/
